# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.development
.env.production
.env.local

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
